$font: "Georgia", serif

$alpha: #BDC7CC
$beta: #FFD7AE
$gama: #F0DC82

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
