$font: "Georgia", serif

$alpha: #eaf1f2
$beta: #fff9ea
$gama: #ffe599

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
